@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/stretch-pro');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #0E0E0E;
    max-height: 500px;
    background-image: url(banner.png);
                background-size: 103%;
                width: 100%;
                background-repeat: no-repeat;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    
}

.containermenu{
    padding-left:19%;
    padding-right: 20%;
}

.homelogo{
    margin-left: 310px;
    margin-right: 10px;
    cursor: pointer;
}

.filmesmenu {
    margin-top: 40PX;
    margin-left: 225px;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-family: DejaVu Sans Mono, monospace;
    font-style: italic;
    font-weight: 700;
    font-size: x-large;
    position: absolute;
}

.filmesmenu:hover {
    opacity: 0.5;
}

.jogosmenu {
    margin-top: 40PX;
    list-style: none;
    color: rgba(255, 255, 255, 0.808);
    font-family:DejaVu Sans Mono, monospace;
    font-style: italic;
    font-weight: 700;
    font-size: x-large;
    position: absolute;
}

.jogosmenu:hover {
    opacity: 0.5;
}

.batmanimg {
    width: 100%;
    height: 100%;
}

#titulo {
    COLOR: white;
    margin-left: 560px;
    margin-bottom: 40px;
    position: relative;
   margin-top: 150px;
    font-family: 'Stretch Pro', sans-serif;
    
}



.batman66, .batman89, .batman92, .batman95, .batman97, .batman05 , .batman08  , .batman12 , .thebatman {
    height: 10%;
    width: 10%;
    margin-right: 10px;

}

.batman66 {
    margin-left: 70px;
}

.thebatman {
    margin-top: 20px;
    margin-left: 580px;
}